[Unit]
Description=ad-business-service

[Service]
User=iamuser
Group=iamuser
ExecStart=/bin/java -jar /opt/software/ad-business-service.jar &
Restart=always

[Install]
